@import './base.css';

#app {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
  padding: var(--space-1);
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-primary-10);
  }
}

@media (max-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
